@model agency.Models.Administrator
@{
    ViewData["Title"] = "Home Page";
}


ID - @Model.Id
<h1><b>ЗДРАВСТВУЙТЕ ПОВЕЛИТЕЛЬ</b></h1>
<div>
    <form method="post" asp-controller="Home" asp-action="ADmanager"><p><button type="submit">Посмотреть менеджеров</button></p>
        <input type="hidden" asp-for="Id" value="@Model.Id" />
    </form>
    <form method="post" asp-controller="Home" asp-action="ADEmployer">
        <p><button type="submit">Посмотреть работодателей</button></p>
        <input type="hidden" asp-for="Id" value="@Model.Id" />
    </form>
    <form method="post" asp-controller="Home" asp-action="ADEmployee">
        <p><button type="submit">Посмотреть соискателей</button></p>
        <input type="hidden" asp-for="Id" value="@Model.Id" />
    </form>
    <form method="post" asp-controller="Home" asp-action="ADvac">
        <p><button type="submit">Посмотреть вакансии</button></p>
        <input type="hidden" asp-for="Id" value="@Model.Id" />
    </form>
</div>
<form method="post" asp-controller="Home" asp-action="Index">
    <p><button type="submit">Назад</button></p>
</form>