@model VacList
@{
    ViewData["Title"] = "Мои вакансии";
}


<h1>Мои вакансии</h1>


<div class="position-absolute top-50 start-50 translate-middle mw-100 mw-100" style="background-color:white; border: 3px solid black">
    <table border="1" cellspacing="10">
        <tr><th>Название вакансии</th><th>Необходимый опыт</th><th>Описание</th><th>Необходимый возраст</th><th>Зарплата</th></tr>
        @foreach (Vacancy item in Model.list)
        {
            <tr>
                <td>@item.Name</td>
                <td>@item.requiredExpirience</td>
                <td>@item.Description</td>
                <td>@item.requiredAge</td>
                <td>@item.salary</td>
                <td>
                    <form method="post" asp-controller="Home" asp-action="dropVac">
                        <p><button type="submit" class="btn btn-primary btn-lg">Удалить вакансию</button></p>
                        <input type="hidden" asp-for="curVacId" value="@item.Id" />
                        <input type="hidden" asp-for="companyId" value="@Model.companyId" />
                    </form>
                </td>
            </tr>

        }
    </table>
    <form method="post" asp-controller="Home" asp-action="createVac">
        <p><button type="submit" class="btn btn-primary btn-lg">Создать вакансию</button></p>
        <input type="hidden" asp-for="companyId" value="@Model.companyId" />
    </form>
    <form method="post" asp-controller="Home" asp-action="backHome">
        <p><button type="submit" class="btn btn-primary btn-lg">Назад</button></p>
        <input type="hidden" asp-for="companyId" value="@Model.companyId" />
    </form>
</div>